{% import 'presentation/chapters/02-avant-symfony-ux/_macros.html.twig' as ui %}

<section data-slide-id="02-macro">
    {{ ui.slide_header('2.2', 'Twig macro', 'Le niveau au-dessus de l\'include') }}

<pre><code class="language-twig">{% verbatim %}{# templates/macros/ui.html.twig #}
{% macro button(label, variant = 'primary', type = 'button') %}
    <button type="{{ type }}" class="btn btn-{{ variant }}">
        {{ label }}
    </button>
{% endmacro %}

{# Utilisation #}
{% import 'macros/ui.html.twig' as ui %}
{{ ui.button('Acheter', 'success') }}
{{ ui.button('Annuler', 'secondary', 'reset') }}{% endverbatim %}</code></pre>
</section>
